@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap");

@layer base {
  body {
    @apply font-body text-base;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  overflow-x: hidden;
}
.container-page {
  display: grid;
  grid-template-columns: 17% 83%;
}
.sidebar {
  background-color: white;
  width: 100%;
}
.sidebar .top-sidebar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0px;
  padding: 35px 0px;
  margin-bottom: 20px;
}
.top-sidebar > img {
  padding-right: 3px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.top-sidebar > h3 {
  font-size: 18px;
  font-weight: 700;
}
.top-sidebar > h3 > span {
  color: #1caf82;
}
.middle-sidebar .content {
  max-width: 250px;
  margin-left: 30px;
  margin: 0 auto;
}

.content .active {
  background-color: #5943be;
  color: #f3f3f4;
  border-radius: 10px;
}

.dashboard-content,
.customers-content,
.orders-content,
.products-content,
.analyst-content {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 25px;
}
.sidebar .dashboard-content > h3 {
  margin-top: 2px;
}
.content > h3,
.content > span {
  font-size: 18px;
  margin-top: 2px;
  line-height: 24px;
  font-weight: 800;
}
.main {
  background-color: #f9f9f9;
  height: auto;
}
.main-container {
  width: 94%;
  margin: 0 auto;
}
.header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header .left-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.left-header > span {
  color: #5943be;
  font-weight: 700;
}
.left-header > h3 {
  font-size: 18px;
  font-weight: 500;
}
.header .right-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.avartar-header {
  padding-left: 30px;
  border-left: 1px solid gray;
}
.avartar-header > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.right-header .bell {
  margin: 0 20px;
  border: 1px solid gray;
  border-radius: 100%;
}
.right-header .bell > span {
  padding: 2px 6px;
  margin-top: 2px;
}
.search-header {
  position: relative;
}
.search-header > input {
  width: 350px;
  border: 1px solid gray;
  padding: 6px 0px;
  border-radius: 20px;
}
.search-header .search-icon {
  position: absolute;
  top: 13%;
  right: 8px;
}
.search-icon > span {
  background-color: #e4dfdf;
  padding: 2px 2px;
  border-radius: 100%;
}
.content .title-content {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.title-content > h1 {
  font-size: 30px;
  font-weight: 600;
}
.title-content > span {
  font-size: 20px;
}
.insight-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  margin-bottom: 30px;
}
.insight-content .sales {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.sales .sales-content {
  padding: 40px 40px;
  min-height: 150px;
}
.sales .top-sales {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-sales .left-components > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.top-sales .left-components > h1 {
  font-size: 18px;
  font-weight: 600;
  color: #1caf82;
  margin-bottom: 15px;
}
.top-sales .right-components > span {
  color: lightsteelblue;
  padding: 10px 10px;
  background-color: ghostwhite;
  border-radius: 100%;
}
.sales-content .bottom-sales {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.sales-content .bottom-sales > h3 {
  opacity: 0.5;
}
.sales-chart {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.sales-chart-content {
  position: relative;
  background: #fff;
  padding: 40px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.sales-chart-content > h3 {
  font-size: 18px;
  font-weight: 600;
  // opacity: 50%;
  margin-bottom: 30px;
}
.line-chart {
  min-height: 500px;
}
.graph-box {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.graph-box .box {
  border-radius: 20px;
  position: relative;
  background: #fff;
  padding: 40px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.graph-box .box .top-content {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.table-recent-orders {
  width: 100%;
  border-collapse: separate;
  border-spacing: 18px;
}

.table-recent-orders thead {
  position: sticky;
  top: 0;
  width: 100%;
}
.table-recent-orders thead::after {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 1px;
  opacity: 50%;
}
.table-recent-orders img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100%;
}
.table-recent-orders .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-recent-orders .header-title {
  font-weight: 500;
  font-size: 17px;
}
.table-recent-orders .header-title .icon {
  position: relative;
  vertical-align: middle;
  color: gray;
  font-size: 24px;
  opacity: 90%;
}
.table-recent-orders thead,
.table-recent-orders tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-recent-orders tbody {
  display: block;

  overflow-y: scroll;
  width: 100%;
  max-height: 250px;
}

.table-recent-orders tbody tr > td {
  text-align: left;
}
.table-recent-orders tbody tr > td:first-child:hover {
  color: blue;
  cursor: pointer;
}
.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
.table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.success {
  color: #1caf82;
  background-color: #cbf5dc;
  padding: 10px 10px;
  border-radius: 15px;
}
.warning {
  color: rgb(245, 5, 5);
  background-color: #fcded6;
  padding: 10px 9px;
  border-radius: 15px;
}
.pending {
  color: #f3b052;
  background-color: #fdfacb;
  padding: 10px 17px;
  border-radius: 15px;
}

.box .bottom-content .chart {
  width: 100%;
  margin-top: 75px;
  min-height: 250px;
}
.title-page {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
}
.info-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
}
.info-box-item {
  width: 470px;
  min-height: 150px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}
.info-box-content {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 25px;
  border-radius: 15px;
}
.new-orders {
  background-color: #edf6ff;
}
.pending-orders {
  background-color: #f6f4ff;
}
.delivered-orders {
  background-color: #ffece7;
}
.info-box-content .top-content {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.info-box-content .bottom-content {
  display: flex;
  align-items: center;
}
.info-box-content .bottom-content > h1 {
  padding-right: 20px;
  font-size: 30px;
  font-weight: 550;
}
.new-orders .bottom-content > h1 {
  border-right: 1px solid #4e79b3;
  color: #4570ab;
}
.pending-orders .bottom-content > h1 {
  border-right: 1px solid #a7a0cb;
  color: #9b8ed8;
}
.delivered-orders .bottom-content > h1 {
  border-right: 1px solid #e7bcac;
  color: #ed6b34;
}
.bottom-content .text-details {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: 20px;
  margin-right: 14px;
  font-weight: 400;
}
.bottom-content .icon-up {
  background-color: white;
  border-radius: 100%;
  padding: 4px;
  font-size: 18px;
  color: #4570ab;
}
.data-order {
  margin-top: 40px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}
.data-order .content {
  padding: 20px 30px;
}
.table-form {
  width: 100%;
}
.table-form .header-table {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px 0px;
}
.table-form .table-content {
  // background: #f9fafe;
  width: 100%;
}
.table-content tr {
  border-bottom: 1px solid #eceef0;
}
.table-content tr:first-child {
  border-top: 1px solid #eceef0;
}
.table-content tr:last-child {
  // border: none;
}
.table-content tr > td {
  padding: 20px 0px;
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.table-content .checkpoint {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.table-content .checkpoint .icon-success {
  border: 1px solid #1caf82;
  color: #1caf82;
  border-radius: 100%;
  font-size: 14px;
  padding: 3px;
}
.table-content .checkpoint .icon-cancel {
  border: 1px solid #e3918d;
  color: #e3918d;
  border-radius: 100%;
  font-size: 14px;
  padding: 3px;
}
.table-content .checkpoint .icon-pending {
  border: 1px solid #dfdf1a;
  color: #d1cf5f;
  border-radius: 100%;
  font-size: 14px;
  padding: 3px;
}
.table-content .detail-order {
  text-align: center;
  color: #00e6b0;
  display: inline-block;
  border-bottom: 0.5px solid rgba(1, 184, 1, 0.295);
}
.table-content .edit-status {
  text-align: center;
  color: #7f87f7;
  display: inline-block;
  border-bottom: 0.5px solid rgba(38, 84, 168, 0.295);
}
.table-content .detail-order:hover {
  color: #1caf82;
  cursor: pointer;
}
.table-content .edit-status:hover {
  color: #0d19be;
  cursor: pointer;
}
.order-details {
  width: 100%;
  min-height: 120vh;
}

.order-details .title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.order-details .title > h1 {
  font-size: 26px;
  font-weight: 500;
}
.order-details .title > span {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.order-details .checkpoint {
  display: flex;
  align-items: center;
}
.order-details .checkpoint > .success {
  background-color: #1caf82;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 14px;
  padding: 4px;
}
.order-details .checkpoint > .pending {
  font-size: 28px;
  color: black;
  padding: 0 0;
  margin-right: 10px;
  color: rgb(236, 204, 22);
  // background-color: ghostwhite;
  // border-radius: 100%;
}
.order-details .checkpoint > .cancel {
  background-color: #da262f;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 14px;
  padding: 4px;
}
.order-details .content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 35px;
}
.order-details .left-container .order-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 100%;
  height: auto;
}
.order-details .left-container .order-item .boxItem {
  max-height: 420px;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 10px;
}

.boxItem .top-content {
  width: 100%;
  min-height: 250px;
  padding: 20px;
  background: #d7e2ed;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.boxItem .top-content > img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  // padding:10px;
  object-fit: cover;
  // mix-blend-mode: color;
  color: white;
}
.boxItem .bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 20px;
  padding: 0px 10px;
}
// .boxItem .bottom-content > .left {
//   max-width: 227px;
// }
.boxItem .bottom-content > div > h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.boxItem .bottom-content > div > span {
  font-weight: 500;
  color: black;
}

.order-details .right-container {
  // background-color: #fbfafc;
  // background-image: linear-gradient(white, #f0eeee);
  background-image: linear-gradient(
    to left top,
    #ffffff 0% /*bottom-right color*/,
    #f8fafb 50% /*middle color*/,
    rgba(255, 255, 255) 100% /*top-left color*/
  );
  max-height: 750px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  width: calc(445px - 35px);
}

.right-container .title {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 30px;
  margin-bottom: 30px;
}
.info-customer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  align-items: center;
  gap: 15px;
  // border: 1px solid black;
  margin: 0px 40px;
  // border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 2.4px 2.4px 3.2px;
}
.info-customer::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1.5px;
  background: #e0f0fc;
  width: 100%;
  bottom: 0px;
  top: 100%;
  margin-top: 20px;
}
.info-customer .customer-avartar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 8px;
  border: 2px solid #9b8ed8;
  margin-top: 40px;
}
.info-customer .customer-avartar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.info-customer .customer-name {
  font-size: 28px;
  font-weight: 500;
  margin-top: 30px;
}
.info-customer .customer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.customer-contact > h3:first-child {
  color: gray;
  font-size: 16px;
  font-weight: 500;
}
.customer-contact > h3:last-child {
  font-size: 16px;
  font-weight: 500;
}
.bottom-content {
  margin-top: 20px;
}
.bottom-content .shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  padding-bottom: 0px;
}
.bottom-content .payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.bottom-content .shipping .title,
.bottom-content .payment .title {
  margin: 0px 0px;
  font-size: 16px;
  font-weight: 600;
}

.bottom-content .shipping .shipping-content {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
  max-width: 200px;
}
.bottom-content .payment .payment-content {
  color: gray;
  font-size: 14px;
  // margin-top: 5px;
  max-width: 200px;
}
.bottom-content .shipping-icon {
  padding: 8px;
  padding-left: 10px;
  border: 1px solid #bfd8fa;
  border-radius: 100%;
}
.bottom-content .payment-icon {
  padding-left: 10px;
  border: 1px solid #bfd8fa;
  border-radius: 100%;
  padding: 8px;
}
.order-details .summary-order {
  margin-top: 30px;
  background-color: white;
  width: 100%;
  max-height: 800px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px 20px;
  // padding-bottom: 0px;
  border-radius: 10px;
}
.summary-order > h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.statistics-content .graph-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  min-height: 150px;
}
.statistics-content .graph-box .boxItem {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chart-analyst {
  display: grid;
  grid-template-columns: 66% 34%;
  gap: 40px;
  margin-top: 50px;
  // background-color: white;
  width: 100%;
}
.chart-analyst .revenue-chart,
.chart-analyst .visitors-chart {
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chart-analyst .visitors-chart {
  max-width: 470px;
  width: 100%;
}
.chart-analyst .chart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}
.chart-analyst .chart-title .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chart-analyst .revenue-chart .right {
  position: relative;
}
.chart-analyst .revenue-chart .right::before {
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  background-color: orange;
  left: -20%;
  top: 32%;
}
.chart-analyst .revenue-chart .chart-content {
  height: 400px;
  padding: 30px 30px;
  padding-top: 0px;
}
.chart-analyst .visitors-chart .chart-content {
  margin: 0px 30px;
  margin-bottom: 25px;
  height: 370px;
}
.best-selling td img {
  height: 50px;
  width: 50px;
  background-color: white;
  padding: 6px 4px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  vertical-align: middle;
}
.best-selling table {
  width: 100%;
}
.best-selling table,
.best-selling th,
.best-selling td {
  border-collapse: collapse;
}
.best-selling thead th {
  position: relative;
  // top: 0;
  // left: 0;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  // padding-left: 50px;
  padding-bottom: 35px;
}
.best-selling thead th::after {
  position: absolute;
  top: 60%;
  left: 0%;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 50%;
  background-color: gray;
}
.best-selling tbody td:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}
.best-selling tbody td {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 35px;
}
.best-selling tbody td::after {
  position: absolute;
  top: 78%;
  left: 0%;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 40%;
  background-color: gray;
}
.outStock {
  position: relative;
  color: #d42627;
}
.inStock {
  color: green;
}
.outStock::before {
  position: absolute;
  content: "";
  left: -8%;
  top: 23px;
  height: 5px;
  // font-size: 16px;
  width: 5px;
  border-radius: 100%;
  background-color: #d42627;
}
.inStock::before {
  position: absolute;
  content: "";
  left: -8%;
  top: 23px;
  height: 5px;
  // font-size: 16px;
  width: 5px;
  border-radius: 100%;
  background-color: green;
}
.productPages,
.customerPages {
  width: 100%;
}
.productPages .main .top,
.customerPages .main .top {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  padding: 10px 30px;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 0px;
}
.productPages .main .search-tool,
.customerPages .main .search-tool {
  width: 450px;
  height: 35px;
  position: relative;
}
.productPages .top .title,
.customerPages .top .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productPages .title > h3,
.customerPages .title > h3 {
  font-size: 18px;
  font-weight: 500;
}
.productPages .search-tool > input,
.customerPages .search-tool > input {
  height: 100%;
  width: 100%;
  display: inline-block;
  border: 1px solid gray;
  left: 0;
  top: 0;
  border-radius: 15px;
  padding: 10px;
}
.productPages .search-tool .search-icon,
.customerPages .search-tool .search-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(185, 185, 185);
  padding: 4px;
  width: 45px;
  height: 35px;
  border: 1px solid gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.productPages .main-product,
.customerPages .main-customer {
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  margin-bottom: 30px;
}
.main-product .graph_box,
.main-customer .graph_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 30px;
}
.main-product .graph_box .box_item,
.main-customer .graph_box .box_item {
  position: relative;
  max-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.main-product .box_item .top-content {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #bfd8fa;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.main-product .box_item .top-content > img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  overflow: hidden;
  padding-top: 40px;
}
.main-product .box_item .box-content {
  padding: 20px;
  position: relative;
}
.main-product .box_item .box-content > h2 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.main-product .box_item .box-content > h3 {
  font-size: 15px;
  line-height: 1.5em;
}
.main-product .box_item:first-child {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main-product .box_item:first-child .add-product-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product .box_item:first-child svg {
  width: 80%;
  height: 80%;
  padding: 50px 50px;
  background-color: ghostwhite;
  border-radius: 15px;
  cursor: pointer;
}

.main-product .box_item .edit-item {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(151, 150, 150, 0.15);
  z-index: 30;
  animation: modal 0.2s ease-in-out;
}
.main-customer .box_item .edit-item {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(151, 150, 150, 0.15);
  z-index: 30;
  animation: modal 0.2s ease-in-out;
}
@keyframes modal {
  from {
    transform: translateY(10%);

    height: 70%;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
    transform: translateY(0%);
  }
}
.main-product .box_item .edit-container,
.main-customer .box_item .edit-container {
  height: 50px;
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
  bottom: 0;
  z-index: 500;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  // border-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main-product .box_item .edit-container::after,
.main-customer .box_item .edit-container::after {
  height: 100%;
  position: absolute;
  width: 1px;
  content: "";
  background-color: black;
  opacity: 50%;
}
.main-product .edit-item .edit-btn,
.main-product .edit-item .delete-btn,
.main-customer .edit-item .edit-btn,
.main-customer .edit-item .delete-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 3px 3px;
}
.main-product .edit-item .edit-btn,
.main-customer .edit-item .edit-btn {
  margin-right: 17px;
}
.main-product .edit-item .delete-btn,
.main-customer .edit-item .delete-btn {
  margin-left: 30px;
}
.main-product .edit-btn svg,
.main-customer .edit-btn svg {
  width: 100%;
  height: 100%;
  color: blue;
}
.main-product .delete-btn svg,
.main-customer .delete-btn svg {
  width: 100%;
  height: 100%;
  color: red;
}
.main-product .box_item:hover .edit-item,
.main-customer .box_item:hover .edit-item {
  display: inline-block;
}

.addProduct-form {
  border-radius: 15px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.addProduct-form .mainContent-product,
.addProduct-form .optionContent-product {
  background-color: white;
  padding: 30px 40px;
  display: relative;
  left: 50%;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.addProduct-form .mainContent-product > div:last-child {
  margin-bottom: 0px;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.upload-container .removeImage {
  position: absolute;
  bottom: 10px;
  left: 43%;
  color: black;
  padding: 4px 4px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}
